* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    padding: 10px 10%;
    background-color: #1F2937;
    color: #F9FAF8;
    width: 100%;
}

.logo {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.link-item {
    font-size: 18px;
    color: #E5E7EB;
}

nav {
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
}